@media (min-width: 1024px)

	.contact
		display flex
		width 1024px
		align-items center
		z-index 0
		overflow-x hidden
		background none


		&__container
			padding 0
			margin 0
			background none

		&__panel
			width 800px
			height 400px
			top -30px
			right 400px
			padding 80px 0px 120px 0px
			margin 10px 0 0 40px
			z-index 2

		&__imageholder
			width 480px
			background none
			margin auto
			top 15px
			left 30px
			z-index 4
			img
				width 520px
				height 520px


		&__formgroup
			width 100%
			padding 0 0px 0 0
			margin 0 0 0 420px

			input
				width 180px
				height 30px
				padding 0 20px 0 10px
				margin 10px 0px 10px 0px
				font-size 12px


			textarea
				min-width 180px
				max-width 180px
				min-height 80px
				max-height 100px
				padding 10px 20px 0 10px
				margin 10px 0 10px 0
				font-size 12px

		&__formbox
			width 740px
			height 480px
			padding 0px 0px 0 0
			margin 10px 0 0 60px
			background #39
			border-top-left-radius: 100px
			border-bottom-left-radius 100px

			h1
				text-align right
				font-size 32px
			h6
				margin 0

		&__form
			padding 0px 45px 40px 50px
			margin 40px 0 20px 20px

			h3
				font-weight normal
				font-size 16px
				text-align left
				margin 15px 0px 0px 0px

	button
		float left
		width 100px
		height 30px
		margin 10px 0px 0px 532px
