@media (min-width:1024px)

	.search
		width 924px
		padding 20px
		margin 20px 0px 20px 30px
		background $darkgrey
		p
			font-size 16px

		&__filter
			width 313px
			margin 0 10px 0 0
			input#search
				width 85%
				height 40px
			img
				height 40px
				margin 0px 0 0 0
				padding 0 13px 0 13px
				transform scale(1.2)


		&__category
			width 303px
			margin 0 10px 0 0
			select#category
				width 96%
				height 40px

		&__medium
			width 303px
			select#medium
				width 96%
				height 40px

	.projects
		width 1024px

	.project
		width 275px
		padding 20px
		margin 0 10px 20px 0px

		&__img
			width 275px
