@media (min-width:1024px)

	.view
		width 1024px

		&__gallery
			width 1024px
			height 400px

			&--left
				height 315px

			&--right
				height 315px

		&__image
			width 1024px
			height 400px


		&__information
			width 1004px

			&--title
				width 600px
				margin 0 0 20px 0

				h5
					font-size 38px

			&--content1
				width 814px
				margin 0 0 20px 0

				p
					font-size 18px
					line-height 18px

			&--quote
				width 814px
				margin 0 0 20px 0

				p
					width 100%
					font-size 32px
					line-height 22px

					span.left
						font-size 64px

					span.right
						font-size 64px

			&--content2
				width 814px
				margin 0 0 20px 0
				p
					font-size 18px
					line-height 18px

			&--testimonial
				display flex
				width 794px
				padding 30px 10px
				justify-content flex-start
				align-items center

				&__headshot
					width 100px

				&__name
					width 120px
					margin 0 10px 0 0

					p
						font-size 20px
						line-height 22px

				&__statement
					padding 20px 10px

					p
						font-size 18px
						line-height 22px

		&__card
			width 140px
			height 406px
			margin -180px 10px 0 0
			padding 20px 10px

			&--headshot img
				width 120px

			&--creator
				width 100px
				padding 20px 10px
				h4
					font-size 18px

			&--category
				width 100px
				padding 20px 10px
				h4
					text-align center
					font-size 18px
			&--medium
				width 100px
				padding 20px 10px
				h4
					text-align center
					font-size 18px
