.page
	.home
		.home__section1
			h1 Welcome!
			h2 My name is #[span <br /> Jai.]
		.home__button--1
			button.hero(class ='projectbutton', routerLink='/contact')
				h2#hero Check out my work
				img(src='/right.svg')
		.home__section2
			h3 Or you can <br /> #[span get in contact] <br /> with me.
			div.circle(class='contactbutton' routerLink='/contact')
				img(src='/right.svg')
			
		//- .home__section1
		//- 	h1 Welcome!
		//- 	h1 My name is #[span <br /> Jai.]
		//- 	.home__section1--dots
		//- 		img(src='/Dots.svg')
		//- 
		//- 
		//- .home__section2
		//- 	h2 Feel free to check out some of my work
		//- 		img(class='button' routerLink='/projects', src='/right.svg')
		//- 
		//- .home__section3
		//- 	h4 Or get in contact!
		//- 		img(class='button' routerLink='/contact', src='/right.svg')
		//- .home__section4
		//- 	h3 *not legally responsible if I take your girl


		//- h1 Welcome!
		//- h1 My name is #[span <br />Jai.]
		//- h2 Feel free to check out some of my work
		//- 	img(class='button' routerLink='/projects', src='/right.svg')
		//- 
		//- 
		//- h3 *not legally responsible if I take your girl
