.page
	.about 
		.about__container
			.about__photo
				img(src='me.jpg')
			.about__body
				h1 About me
				p I'm a Graphic Designer, Concept Artist, Front End Developer, Photo/Videographer and Musician.
				p Born in the Philippines to a British mother (Artist & Art Teacher) and Filipino/Spanish father (Artist and Musician) and have spent my life between the United Kingdom, Philippines and Malta, having also spent time in Hong Kong, Singapore, New Zealand, France and Spain. 
				p I'm also very lazy when it comes to trying to write an About Me :)
		.about__container
			.about__friendstitle
				h4 My Friends &
				h4 other cool people
			.about__friends
				.about__friendholder
					a(href='https://www.musicplayground.com.mt')
						h6 MusicPlayground
						img(alt='Music Playground', src='/musicplayground.jpg')
				.about__friendholder
					a(href='https://instagram.com/seapuppy_')
						h5 SeaPuppy
						img(src='/seapuppy.jpg')
				.about__friendholder
					a(href='https://instagram.com/dancassar')
						h5 Dan Cassar
						img(src='/dancassar.png')
				.about__friendholder
					a(href='https://jasonbaldacchino.com/')
						h6 Jason Baldacchino
						img(src='/jason.jpeg')
				//- .about__friendholder
				//- 	h5 Friend 5
				//- 	img(src='/avatar.jpg')
				//- .about__friendholder
				//- 	h5 Friend 6
				//- 	img(src='/avatar.jpg')
				//- .about__friendholder
				//- 	h5 Friend 7
				//- 	img(src='/avatar.jpg')
				//- .about__friendholder
				//- 	h5 Friend 8
				//- 	img(src='/avatar.jpg')
				//- .about__friendholder
				//- 	h5 Friend 9
				//- 	img(src='/avatar.jpg')
				//- .about__friendholder
				//- 	h5 Friend 10
				//- 	img(src='/avatar.jpg')
				//- .about__friendholder
				//- 	h5 Friend 11
				//- 	img(src='/avatar.jpg')
				//- .about__friendholder
				//- 	h5 Friend 12
				//- 	img(src='/avatar.jpg')
