.page
	.view
		.carousel-wrapper
			span#item-1
			span#item-2
			span#item-3
			.carousel-item.item-1
				a.arrow.arrow-prev(href='#item-3')
				a.arrow.arrow-next(href='#item-2')
			.carousel-item.item-2
				a.arrow.arrow-prev(href='#item-1')
				a.arrow.arrow-next(href='#item-3')
			.carousel-item.item-3
				a.arrow.arrow-prev(href='#item-2')
				a.arrow.arrow-next(href='#item-1')

		.view__cardtoggle
		.view__information
			.view__information--title
				h5 {{project.title}}
			.view__information--content1
				p {{project.content[0]}}
			.view__information--quote
				p #[span.left "]  {{project.quote}}  #[span.right "]
			.view__information--content2
				p {{project.content[1]}}
			.view__card
				.view__card--headshot
					img(src='avatar.jpg')
				.view__card--creator
					h4 {{project.creator.name}} #[span {{project.creator.title}}]
				.view__card--category
					h4 {{project.category}}
				.view__card--medium
					h4 {{project.medium}}
			.view__information--testimonial
				.view__information--testimonial__headshot
					img(src='/avatar.jpg')
				.view__information--testimonial__name
					p {{project.testimonial.name}}:
				.view__information--testimonial__statement
					p "{{project.testimonial.statement}}"






		//- .view__title
		//- 	h5 {{project.title}}
		//- .view__infoholder
		//- 	//-name
		//- 	//-role
		//- 	.view__year
		//- 		h5 2020
		//- 	.view__category
		//- 		h5 {{project.category}}
		//- 	.view__medium
		//- .view__spacer
		//- .view__description
		//- 	p {{project.description}}
		//- .dropup
		//- 	.dropbtn
		//- 		.chevron
		//- 	.dropup-content
		//- 		.dropup-content__photoholder
		//- 			img(src='https://www.w3schools.com/howto/img_avatar.png')
		//- 		.dropup-content__nameholder
		//- 			h3 Jai Garrovillo
		//- 		.dropup-content__roleholder
		//- 			h3 Junior Web Developer
