@media (min-width: 480px)

	md-sidenav
	.mat-drawer-inner-container
		width 480px !important

	.panel
		float left

		&__buttons
			margin 35px 135px 11px 0

			h1
				margin 0 0 35px -10px
				font-size 52px

		&__close
			top 10px
			left 445px

		&__background
			width 480px
			height 320px
			overflow hidden
			top -325px
			left 0px

		&__halftone
			width 500px
			right 0px
