.page
	.contact
		.contact__container
			.contact__imageholder
				img(src='/contact.svg')
		.contact__panel
			.contact__formbox
				form.contact__form(method='POST' action='/submit')
					h1 Drop me a line
					h6 * indicates required
					.contact__formgroup
						input(type='text', placeholder='Name*',  name='name')
					.contact__formgroup
						input(type='text', placeholder='Surname*', name='surname')
					.contact__formgroup
						input(type='text', placeholder='name@domain.com*', name='email')
					.contact__formgroup
						input(type='text', placeholder='+xxx-xxxx-xxxx*' name='phone')
					.contact__formgroup
						textarea(type='text',placeholder='Your message' name='message')
					button(type='submit') Submit
		
