.mat-drawer-backdrop
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	// background $blue
	//background #000
	opacity 0.8
	filter unquote('alpha(opacity=90)')
	z-index 600
	overflow hidden
	cursor pointer
	background linear-gradient(200deg, #4acaf0, #4acf50, #2438C9);
	background-size: 400% 400%;
	background-repeat no-repeat
	-webkit-animation: bgGradient 5s ease infinite;
	-moz-animation: bgGradient 5s ease infinite;
	animation: bgGradient 5s ease infinite;

@keyframes bgGradient {
	0%{background-position:0% 50%, transform rotate(0deg)}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%, transform rotate(360deg)}
}
