@media (min-width: 1024px)

	.about
		width 1024px

		&__container
			width 1024px
			// margin 0 0 40px 0px
			// padding 10px 40px 10px 40px

		&__body
			width 984px

			h1
				font-size 52px
				// margin 50px 0 10px 0
			p
				font-size 24px
				line-height 25px

		&__photo
			width 300px

		&__friends
			width 1024px
			padding 20px 40px 20px 40px

		&__friendstitle
			width 1024px

		&__friendholder
			width 180px
			height 180px
			margin 20px 40px 0 0
			overflow hidden

			h5
				font-size 24px
				width 180px
				height 180px
				line-height 180px

			h5:hover
				font-size 18px

			h6
				font-size 24px
				width 180px
				height 180px
				line-height 180px

			h6:hover
				font-size 20px
