@media (min-width 1440px)
	.home
		width 1440px
		margin -10px 0 0 -208px

		&__section1
			align-self center
			height 400px
			h1
				margin 100px 0 0 0
				font-size calc(24px + 10vw)
			h2
				width 100%
				margin -60px 0 0 0
				line-height 200px
				span
					line-height 150px
		&__button--1
			button.hero
				width 330px
				height 50px
				margin 120px 0 0 0
				h2#hero
					font-size 28px
					line-height 30px
				img
					margin -182px -240px 0 0px

		&__section2
			height 335px
			display flex
			flex-direction column
			align-self center
			align-items center
			padding 0 0 80px 0
			h3
				line-height 90px
			div.circle
				width 80px
				height 80px
				margin 40px 0 0 0px
