@media (min-width: 667px)

	.header
		padding 0 0 0 0

		&__logo
			display block
			float left
			width 150px
			margin 0
			padding 0

			h1
				float left
				width 100%
				padding 0px 0px 0px 0px
				margin 0px 0px 0px 0px
				line-height 50px
				font-size 16px
				text-align center
				color #fff


		&__container
			width 587px

		&__spacer
			width 667px
			height 50px

	.mobile-navigation
		display none

	.navigation
		display block
		float left
		width 407px
		height 50px
		padding 0px
		margin 0

		&__button
			float right
			width 80px
			height 100%
			margin 0px 0px 0px 10px
			padding 0px
			border none
			outline none

			h2#header
				float left
				width 100%
				height 40px
				text-align center
				font-weight bold
				font-size 14px
				color #FFF
				line-height 50px
				border none
				outline none


		&__button:hover
			width 80px
			height 5px
			background $purple
			border none
			outline none

		&__button:active
			width 80px
			height 5px
			background $orange
			border none
			outline none

	// .toggleswitch
	// 	float left
	// 	margin 40px 0 0 -200px
	// 	padding 0
	//
	// .switch
	// 	position : relative ;
	// 	display : inline-block;
	// 	width : 40px;
	// 	height : 20px;
	// 	background-color: #eee;
	// 	border-radius: 20px;
	//
	// .switch::after
	// 	content: '';
	// 	position: absolute;
	// 	width: 18px;
	// 	height: 18px;
	// 	border-radius: 50%;
	// 	background-color: white;
	// 	top: 1px; // TO GIVE AN EFFECT OF CIRCLE INSIDE SWITCH.
	// 	left: 1px;
	// 	transition: all 0.3s;
	//
	// .checkbox:checked + .switch::after
	// 	left : 20px;
	//
	// .checkbox:checked + .switch
	// 	background-color: $purple;
	// 	$darkgrey = #F2f
	// .checkbox
	// 	display none
