@media (min-width:768px)

	.header
		padding 0 0 0 0

		&__logo
			width 150px
			margin 0 0 0 40px
			padding 0

			h1
				width 100%
				padding 0px 0px 0px 0px
				margin 0px 0px 0px 0px
				line-height 60px
				font-size 16px
				text-align center
				color #fff


		&__container
			width 768px


		&__spacer
			width 768px
			height 60px
			margin 0 0 10px 0

	.mobile-navigation
		display none

	.navigation
		width 528px
		height 60px
		padding 0 40px 0 0
		margin 0
		h2#header
			line-height 60px

		&__button
			float right
			width 80px
			height 100%

		&__button:hover
			width 80px
			height 5px

		&__button:active
			width 80px
			height 5px
