@media (min-width: 20px)

	.about
		float left
		width 320px
		background #777777
		padding 0px 0 0px 0px
		margin 0
		overflow-x hidden

		&__container
			float left
			width 280px
			margin 0 0 0px 0px
			padding 30px 20px 20px 20px

		&__photo
			position relative
			margin 0 auto
			width 120px

			img
				border-radius 100px


		&__body
			float left;
			width 220px
			margin 0px 0px 20px 30px
			padding 0px 0 0 0

			h1
				font-family $primary-font
				font-weight $primary-font-weight
				font-size 16px
				text-align center
				line-height 16px
				color #000
				text-transform uppercase

			p
				font-family $secondary-font
				font-weight $secondary-font-weight
				font-size 12px
				text-align center
				padding 0px
				margin 0px
				line-height 16px
				color #000



		&__friends
			float left
			width 320px
			padding 0
			margin 0 0 40px 0
			border none

		&__friendstitle
			float left
			width 280px
			padding 0
			margin 0 0 20px 0

			h4
				font-family $primary-font
				font-weight $primary-font-weight
				float left
				width 100%
				padding 0
				margin 0 0 0px 0
				line-height 22px
				font-size 22px
				color black
				text-transform: uppercase;
				text-align center

		&__friendholder
			float left
			width 120px
			height 120px
			margin 10px 40px 0 0
			// background #rgba(255, 0, 0, 0.2)
			border none
			border-radius 76px
			display inline-block
			overflow hidden

			img
				border-radius 100%

			h5
				position absolute
				text-align center
				font-family $primary-font
				font-weight $primary-font-weight
				font-size 18px
				color white
				width 120px
				height 120px
				// left 50%
				line-height 120px
				opacity 0
				border-radius 100%

			h5:hover
				background-color rgba(0,0,0,0.8)
				transition: .3s
				font-size 12px
				opacity 1

			h6
				position absolute
				text-align center
				font-family $primary-font
				font-weight $primary-font-weight
				font-size 18px
				color white
				width 120px
				height 120px
				line-height 120px
				opacity 0
				border-radius 100%

			h6:hover
				font-size 12px
				background-color rgba(0,0,0,0.8)
				transition: .3s
				opacity 1
