@media (min-width: 20px)

	.contact
		float left
		width 320px
		background $darkgrey
		padding 0 0 0px 0
		margin -18px 0 0 0
		z-index 0

		&__container
			float left
			width 300px
			padding 0px 0px 0px 20px
			margin 0
			background $darkgrey

		&__form
			padding 0px 45px 40px 50px
			margin 0

			h3
				font-size 16px
				font-weight normal
				text-align left
				margin 0px 0px 0px 0px

		&__imageholder
			float left

			img
				float left
				width 280px
				margin 40px 0 0px 0px

		&__formbox
			float left
			width 320px
			padding 0 0 20px 0
			background $darkgrey
			margin 0 0 0px 0

			h1
				text-align right
				padding 0px 0 0 0
				text-align center
				font-size 26px
				font-family $primary-font
				font-weight $primary-font-weight
				color white
				margin 0

			h6
				text-align right
				margin 5px 15px 5px 0
				font-family $secondary-font
				font-weight $secondary-font-weight
				padding 0
				color red
				opacity 0.6
				font-size 8px

		&__formgroup

			width 100%

			input
				width 180px
				height 30px
				padding 0 20px 0 10px
				margin 5px 0px 10px 0px
				outline none
				appearance none
				border none
				font-size 12px
				font-family $secondary-font
				font-weight $secondary-font-weight

			textarea
				min-width 180px
				max-width 180px
				min-height 80px
				max-height 220px
				padding 10px 20px 0 10px
				margin 10px 0px
				font-size 12px
				font-family $secondary-font
				font-weight $secondary-font-weight

		&__panel
			float left
			width 320px
			padding 20px 0px 0px 0px


	button
		float right
		width 80px
		height 30px
		background #59
		margin 10px 15px 0px 0px
		border none
		font-size 12px
		line-height 30px
		font-family $primary-font
		font-weight $primary-font-weight
		color white

	button:hover
		background $orange
		// #F45955
