@media (min-width 20px)

	.error
		float left
		width 100%
		height 100%
		padding 0 0 22px 0
		margin -18px 0 0 0
		background $darkgrey
		overflow hidden

	#error{
		display: table;
		float left
		width: 100%;
		height calc(100vh - 145px)
		margin 0 auto
		text-align: center;
	}

	.error__error{
		display: table-cell;
		vertical-align: middle;
		outline none
		border none
	}

	.error__error h1{
		font-size: 50px;
		display: inline-block;
		padding-right: 12px;
		outline none
		border none
		color #FFF
		animation: type .5s alternate infinite;
	}

	@keyframes type{
		from{box-shadow: inset -3px 0px 0px #888;}
		to{box-shadow: inset -3px 0px 0px transparent;}
	}
