@media (min-width 20px)
	.home
		float left
		display flex
		flex-direction column
		width 100%
		background #191919
		padding 40px 0px
		// justify-content center
		// align-items space-around

		&__section1
			width 100%
			margin 0px 0 0 0
			padding 10px 0 0 0

			h1
				font-size calc(24px + 8vw)
				text-align center
				color white
				padding 0
				margin 20px 0 0 0
				line-height (24px + 8vw)
				font-family $primary-font
				font-weight $primary-font-weight
				-webkit-animation: tracking-out-contract 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
				animation: tracking-out-contract 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;


			h2
				font-size calc(24px + 8vw)
				text-align center
				color white
				padding 0
				margin 20px 0 0 0
				line-height 50px
				font-family $primary-font
				font-weight $primary-font-weight
				-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
				animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;

				span
					width 100%
					text-align center
					line-height 60px
					font-size calc(24px + 16vw)
					-webkit-animation: tracking-in-expand-fwd 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.5s both;
					animation: tracking-in-expand-fwd 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.5s both;

		&__button
			&--1
				align-self center
				button.hero
					width 245px
					height 35px
					background $purple
					border-radius 150px
					margin 20px 0px 0 0
					padding 5px 10px 5px 20px
					outline none
					border none
					-webkit-animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2s both;
					animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2s both;

					h2#hero
						width 245px
						text-align left
						margin 0
						padding 0
						font-size 20px
						line-height 20px
						outline none
						border none

					img
						transform scale(0.12)
						margin -130px -170px 0 0
						outline none
						border none

		&__section2
			width 100%
			float left
			margin 50px 0
			-webkit-animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2s both;
			animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2s both;

			h3
					font-size calc(24px + 6vw)
					text-align center
					color white
					padding 0
					margin 20px 0 0 0
					line-height 50px
					font-family $primary-font
					font-weight $primary-font-weight

					span
						font-size (calc 24px + 8vw)

			div.circle
				width 60px
				height 60px
				border-radius 80px
				background $purple
				margin 20px 0 0 130px
				outline none
				border none
				img
					transform scale(0.8)
					margin -5px -5px 0 0
					outline none
					border none

			div.circle:hover, div.circle:focus
				-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        	animation: heartbeat 1.5s ease-in-out infinite both;
