@media (min-width:20px)

	.view
		float left
		width 320px
		padding 0px 0px
		margin 0px 0px 0px 0px
		background #34
		overflow-x hidden

		h3
			text-align center
			font-size 18px
			font-weight normal
			line-height 35px
			margin 0px 0px 0px 5px
			padding 0
			color #000

		h5
			float left
			width 100%
			text-align center
			font-size 10px
			line-height 20px
			margin 0
			padding 0
			color #FFF

		// &__gallery
		//     float left
		//     width 320px
		//     margin 0
		//     padding 0
		//     overflow hidden
		//     // background #f2f
		//
		//     // &--left
		//     //     float left
		//     //     display flex
		//     //     width 30px
		//     //     height 100%
		//     //     background black
		//     //     opacity 0.5
		//     //     z-index 2
		//     //     top 87px
		//     //     left 0
		//     //     right 30
		//     //     bottom 402
		//     //     align-content center
		//     //     img
		//     //         transform scale(0.5)
		//
		//     &--image
		//         position relative
		//         float left
		//         width 260px
		//         margin 0 0 0px 0
		//         padding 0
		//         z-index 1
		//
		//     // &--right
		//     //     float right
		//     //     display flex
		//     //     width 30px
		//     //     height 100%
		//     //     background black
		//     //     opacity 0.5
		//     //     z-index 2
		//     //     top 85px
		//     //     right 0
		//     //     align-content center
		//     //     img
		//     //         transform rotate(180deg) scale(0.5)


		&__information
			float left
			width 300px
			margin 0px 0 0 0
			padding 10px
			background $darkgrey
			z-index 3

			&--title
				float left
				width 230px
				margin 0 0px 5px 0
				padding 10px 0
				// background #F2F


				h5
					text-align left
					width 100%
					font-family $primary-font
					font-weight $primary-font-weight
					line-height 32px
					font-size 16px
					color white

			&--content1
				float left
				width 300px
				margin 0 0 10px 0
				padding 0

				p
					float left
					font-family $secondary-font
					font-weight $secondary-font-weight
					font-size 12px
					line-height 12px
					color #fff

			&--quote
				float left
				width 300px
				margin 0 0 10px 0
				padding 0
				// background #000
				p
					float left
					width 100%
					margin 10px 0 0 0
					font-family $primary-font
					font-weight $secondary-font-weight
					font-size 16px
					line-height 16px
					text-align center
					color #fff

					span.left
						float left
						font-size 40px
						color: #616161;
						background: transparent;
						text-shadow: #e0e0e0 1px 1px 0;

					span.right
						float right
						font-size 40px
						line-height 40px
						color: #616161;
						background: transparent;
						text-shadow: #e0e0e0 1px 1px 0;

			&--content2
				float left
				width 300px
				margin 0 0 10px 0
				padding 0
				p
					float left
					font-family $secondary-font
					font-weight $secondary-font-weight
					font-size 12px
					line-height 12px
					color white

			&--testimonial
				float left
				width 280px
				margin 0 0 10px 0
				padding 10px
				background #444444
				border-radius 4px

				&__headshot
					float left
					width 30px
					margin 0 5px 0 0
					padding 0
					img
						border-radius 4px

				&__name
					float left
					margin 0
					padding 8px 0px
					// background $mediumgrey
					// border-radius 4px
					p
						float left
						margin 0
						padding 0
						font-size 13px
						font-family $primary-font
						font-weight $secondary-font-weight
						color white
						line-height 14px


				&__statement
					float left
					margin 5px 0 0 0
					padding 0px
					background $mediumgrey
					border-radius 4px
					p
						float left
						margin 0
						font-family $secondary-font
						font-weight $secondary-font-weight
						padding 3px
						color white
						font-size 12px
						line-height 14px



		&__cardtoggle
			position absolute
			display none
			width 20px
			height 20px
			top 290px
			right 10px
			border-radius 10px
			background #f9f

		&__card
			float left
			display flex
			width 290px
			height 60px
			margin 0 0 10px 0
			padding 0 5px
			border-radius 4px
			background #444444
			align-items center

			&--headshot
				float left
				margin 0 5px 0 0px
				padding 10px
				border none
				border-radius 4
				overflow hidden
				img
					border-radius 4px
					width 40px


			&--creator
				float left
				padding 10px 3px
				margin 0 5px 0 0
				background $darkgrey
				border-radius 4px
				&:hover
					background $orange

				h4
					font-family $primary-font
					font-weight $primary-font-weight
					text-align center
					font-size 10px
					color white

			&--category
				float left
				margin 0 5px 0 0
				padding 10px 3px
				background $darkgrey
				border-radius 4px
				&:hover
					background $orange
				h4
					text-align left
					font-family $primary-font
					font-weight $primary-font-weight
					font-size 10px
					color white

			&--medium
				float left
				margin 0 5px 0 0
				padding 10px 3px
				background $darkgrey
				border-radius 4px
				&:hover
					background $orange
				h4
					text-align left
					font-family $primary-font
					font-weight $primary-font-weight
					font-size 10px
					color white

	.carousel-wrapper
		height:400px;
		position:relative;
		width:300px;
		margin:0 auto 10px auto;

	.carousel-item
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		padding:25px 50px;
		opacity:0;
		transition: all 0.5s ease-in-out;

	.arrow
		border: solid black;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 12px;


	.arrow-prev
		left:0px;
		position:absolute;
		top:50%;
		transform:translateY(-50%) rotate(135deg) scale(0.6);


	.arrow-next
		right:0px;
		position:absolute;
		top:50%;
		transform:translateY(-50%) rotate(-45deg) scale(0.6);


	.light
		color:white;


// @media (max-width: 480px)
	.arrow, .light .arrow
		background-size: 10px;
		background-position: 10px 50%;

	[id^="item"]
		display: none;

	.item-1
		z-index: 2;
		opacity: 1;
		background:url('https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg');
		background-size:cover;

	.item-2
		background:url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');
		background-size:cover

	.item-3
		background:url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
		background-size:cover;

	*:target ~ .item-1
		opacity: 0;

	#item-1:target ~ .item-1
		opacity: 1;

	#item-2:target ~ .item-2, #item-3:target ~ .item-3
		z-index: 3;
		opacity: 1;

// DROPBUTTON
	// .dropbtn
	//     background-color: #3498DB;
	//     width 15px
	//     height 15px
	//     color: white;
	//     padding: 16px;
	//     font-size: 16px;
	//     border-radius 200px
	//     border: none;
	//     z-index 100
	//     margin 10px 0px 0px 115px
	//
	// .dropup
	//     position: relative;
	//     display: inline-block;
	//
	// .dropup-content
	//     display: none;
	//     position: absolute;
	//     width 300px
	//     height 250px
	//     bottom: 0px;
	//     background-color: #f1f1f1;
	//     z-index: 100;
	//     margin 0 0 50px -10px
	//     border-radius 20px
	//     border none
	//
	//     &__photoholder
	//         float left
	//         width 100px
	//         height 100px
	//         border-radius 150px
	//         border none
	//         background #FFF
	//         margin 20px 100px 20px 100px
	//
	//         img
	//             float left
	//             border-radius 150px
	//
	//     &__nameholder
	//         float left
	//         width 208px
	//         height 35px
	//         background #FFF
	//         border-radius 10px
	//         border none
	//         margin 0 0 20px 50px
	//
	//     &__roleholder
	//         float left
	//         width 208px
	//         height 35px
	//         background #FFF
	//         border-radius 10px
	//         border none
	//         margin 0 0 20px 50px
	//
	//     &__spacer
	//         width 100%
	//         height 20px
	//
	// .dropup-content
	//     a
	//         color: black;
	//         padding: 12px 16px;
	//         text-decoration: none;
	//         display: block;
	//
	// .dropup-content a:active
	//     background-color: #ddd
	//
	// .dropup:active .dropup-content
	//     display: block;
	//
	// .dropup:active .dropbtn
	//     background-color: #2980B9;
	//
	// .dropup:active .chevron::before
	//     border-style: solid;
	//     border-width: 0.25em 0.25em 0 0;
	//     content: '';
	//     display: inline-block;
	//     height: 0.45em;
	//     left: 0.15em;
	//     position: relative;
	//     top: 0.15em;
	//     transform: rotate(135deg);
	//     vertical-align: top;
	//     width: 0.45em;
	//     margin-bottom 2px
	//
	// .chevron::before
	//     border-style: solid;
	//     border-width: 0.25em 0.25em 0 0;
	//     content: '';
	//     display: inline-block;
	//     height: 0.45em;
	//     left: 0.15em;
	//     position: relative;
	//     top: 0.15em;
	//     transform: rotate(-45deg);
	//     vertical-align: top;
	//     width: 0.45em;
	//     margin-top 2px
