@media (min-width:20px)

	.search
		float left
		width 280px
		// height 40px
		padding 0px
		margin 0px 0px 0px 10px
		// background #111
		border-radius 4px

		p
			font-size 12px
			text-align center
			line-height 25px

		// &:enabled > &__filter > input#search
		// 	width 88%
		// 	border-right: 3px solid #4444;

		&:checked > &__filter > img
			display block

		&__filter
			float left
			width 300px
			margin 0px 2px 10px 0px
			padding 0
			background white
			input#search
				width 270px
				padding-left 10px
				text-align left
				height 30px
				outline none
				border-style none
				background-color white

			img
				display none
				float right
				width 15px
				margin 0
				padding 7.5px 4px 7.5px 0px
				opacity 0.9
			&:focus-within
				input#search
					width 88%
					border-right: 3px solid #4444;
				img
					display block

		&__category
			float left
			width 300px
			padding 0
			margin 0px 2px 10px 0px
			background #fff
			select#category
				width 98.6%
				height 30px
				border none
				outline none
				background-color #fff

		&__medium
			width 300px
			float left
			margin 0px 0px 0 0px
			padding 0
			background #fff
			select#medium
				width 98.6%
				height 30px
				border none
				outline none
				background-color #fff

	.projects
		float left
		display flex
		flex-flow wrap
		justify-content center
		width 100vw
		padding 0px 0px 0px 0px
		margin 0px 0 0 0px

	.project
		float left
		width 258.5px
		background $mediumgrey
		border-bottom 3px solid $darkgrey
		border-right 1.5px solid $darkgrey
		padding 20px 20px 0 20px
		margin 20px 0px 20px 0px
		border-radius: 4px

		&__img
			float left
			width 260px
			height 120px
			margin 0px 0px 10px 0
			overflow hidden
			img
				width 100%
				margin 0
				padding 0
				border none
				outline none

		&__title
			float left
			margin 0px 0px 0 0
			padding 0 10px
			background $darkgrey

			h4
				float left
				width 100%
				margin 0
				padding 0
				font-size 12px
				line-height 24px
				font-family $primary-font
				font-weight $primary-font-weight
				letter-spacing 0.5px
				color #fff
				text-align center

		&__category
			float right
			margin 0px
			padding 0 10px
			background $darkgrey

			h4
				float right
				width 100%
				margin 0
				padding 0
				font-size 12px
				line-height 24px
				font-family $primary-font
				font-weight $primary-font-weight
				letter-spacing 0.5px
				color #fff
				text-align center

		&__description
			float left
			margin 10px 0 20px 0
			padding 10px 10px 10px 10px
			background $darkgrey
			p
				float left
				margin 0px
				padding 0
				font-size 14px
				line-height 14px
				font-family $secondary-font
				font-weight $secondary-font-weight
				color #FFF
				text-align left
