@media (min-width: 375px)

	md-sidenav
	.mat-drawer-inner-container
		width 375px !important

	.panel
		float left

		&__buttons
			margin 105px 95px 11px 0

			h1
				font-size 72px

		&__close
			top 10px
			left 335px

		&__background
			width 375px
			height 667px
			overflow hidden
			top -465px

		&__halftone
			width 435px
			right 0px
