script(src='https://kit.fontawesome.com/098d2deea0.js' crossorigin='anonymous')


mat-sidenav-container(fullscreen)
	mat-sidenav(#sidenav, mode='over', [opened]='false')
		.panel
			.panel__spacer
			.panel__buttons
				h1(routerLink='/' routerLinkActive='active', (click)='closePanel()') Home
				h1(routerLink='/projects' routerLinkActive='active', (click)='closePanel()') Projects
				//- h1(routerLink='/projects' routerLinkActive='active') Articles
				//- h1(routerLink='/media' routerLinkActive='active') Media
				h1(routerLink='/about' routerLinkActive='active', (click)='closePanel()') About
				h1(routerLink='/contact' routerLinkActive='active', (click)='closePanel()') Contact
				
		.panel__close((click)='closePanel()')
					
		.panel__background((click)='closePanel()')
			.panel__halftone

		
			//- i.far.fa-times-circle

	mat-sidenav-content
		header-component
		.content
			router-outlet
		footer-component
