@media (min-width: 20px)

	footer
		position: relative
		width 100%
		padding 0
		margin: 0
		bottom 0
		overflow hidden
		z-index 1

	.footer
		float left
		width 100vw
		height 30px
		background-color $darkgrey
		padding 5px 0px
		margin 0px 0 0px 0
		border none
		outline none

		h1
			width 100%
			font-size 10px
			text-align center
			line-height 6px
			color #FFF

		h2
			width 100%
			font-size 10px
			text-align center
			line-height 8px
			color #FFF
