@media (min-width: 20px)

	.header
		position fixed
		width 100%
		margin 0px
		padding 20px 0 20px 0
		background $mediumgrey
		z-index 100

		&__container
			position relative
			width 85vw
			margin 0 auto

		&__logo
			display none

		&__spacer
			float left
			width 320px
			height 85px
			margin 0 0 0px 0

	.navigation
		display none

	.mobile-navigation
		display block
		overflow: hidden;
		background-color: $darkgrey;
		position: relative;

		// #mobilenav
		// 	height 50px


	.mobile-navigation a
		color: white;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block

	.mobile-navigation .header__bars
		background: rbga(100,100,100,0.9);
		padding 15px 15px
		display: block;
		position: absolute;
		right: 0px;
		top: 0px;

	.mobile-navigation:hover
		background-color: white;

		a
			color black


	a.active

		background-color: #4CAF50;
		color: white;
