@media (min-width: 320px)

	md-sidenav.md-closed
	.md-sidenav-backdrop
		display none

	md-sidenav
	.mat-drawer-inner-container
		position fixed
		width 320px !important
		height 100%
		min-height 100%
		bottom 0
		padding 0
		margin 0
		background none
		outline none
		left 0
		top 0
		z-index 900
		-webkit-transform translate3d(0%, 0, 0)
		transform translate3d(0%, 0, 0)
		overflow hidden !important

	md-sidenav::-webkit-scrollbar
		width: 0

	md-sidenav.md-closed
		-webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
		animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

	md-sidenav.md-closed-remove
		display -webkit-flex;
		display -ms-flexbox;
		display flex;

	md-sidenav.md-closed-add.md-closed-add-active,
	md-sidenav.md-closed-remove.md-closed-remove-active
		animation: slide-out-bck-center 0.5s ease-in-out both;

	md-sidenav.md-locked-open-add,
	md-sidenav.md-locked-open-remove
		position: static;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0, 0);

	.panel
		float left
		width 100vw
		// height 250px
		padding 0
		margin -19px 0 0 -60px
		// background #FFF
		border-radius: 00px 1000px 1000px 200px


		&__tiles
			float left
			width 180px
			padding 0 15px 0 15px
			margin 0

		&__spacer
			float left
			width 100%
			height 18px
			padding 0
			margin 0

		&__buttons
			float right
			width 158px
			padding 14px 10px 6px 10px
			margin 55px 43px 11px 0px
			background $i-background
			border none
			border-radius $i-border-radius
			text-align center
			text-decoration none
			outline none

		h1
			float left
			width 100%
			padding 0
			margin 0 0 55px -10px
			border none
			outline none
			font-family: $primary-font
			font-weight $primary-font-weight
			font-size 64px
			line-height 30px
			color black
			background none
			text-align center
			text-shadow: 4px 4px 0px #FFFFFF, 4px 4px 0px #FFFFFF;
			&:active
				color $orange

		&__buttons.active
			background $orange
			border none

		&__close
			position relative
			width 20px
			height 20px
			padding 0 0px 0 0
			margin 0px
			top 10px
			left 290px
			background-image url('/times-circle-regular.svg')
			border none
			border-left none
			border-radius: 0
			cursor pointer
			outline none
			// animation rotate-scale-up 20s linear infinite both

		&__background
			position relative
			width 320px
			height 480px
			top -420px
			overflow:hidden
			z-index -1

		&__halftone
			position relative
			width 380px
			height 816px
			transform rotate(160deg) scale(1.5)
			background-image url('/halftone-simple.svg')



	.panel::-webkit-scrollbar
		width: 0 !important




@keyframes rotate-scale-up {
  0% {
	-webkit-transform: scale(1) rotateZ(0);
			transform: scale(1) rotateZ(0);
  }
  50% {
	-webkit-transform: scale(1.2) rotateZ(180deg);
			transform: scale(1.2) rotateZ(180deg);
  }
  100% {
	-webkit-transform: scale(1) rotateZ(360deg);
			transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes slide-out-bck-center {
  0% {
	-webkit-transform: translateZ(0);
			transform: translateZ(0);
	opacity: 1;
  }
  100% {
	-webkit-transform: translateZ(-1100px);
			transform: translateZ(-1100px);
	opacity: 0;
  }
	}
@keyframes slide-out-bck-center{
	0%
	-webkit-transform: translateZ(0);
			transform: translateZ(0);
	opacity: 1;
	100%{
	-webkit-transform: translateZ(-1100px);
			transform: translateZ(-1100px);
	opacity: 0;
	}
}
@keyframes slide-in-fwd-tl
	0%
		-webkit-transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
		transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
		opacity: 0;

	100%
		-webkit-transform: translateZ(0) translateY(0) translateX(0);
		transform: translateZ(0) translateY(0) translateX(0);
		opacity: 1;
