@media (min-width: 1440px)

	.header

		&__container

			width 1024px

		&__logo

			width 150px
			margin 0 0 0 100px

			h1

				font-size: 20px
				text-align center
				line-height 100px
				color #FFF

		&__spacer
			width 1024px
			height 100px
			margin 0

	.navigation

		float left
		width 674px
		height 100%
		opacity 100%
		padding 0px 0px 0px 0
		margin 0

		&__button

			float: right;
			width 80px
			height 100%
			margin 0px 0px 0px 20px

		h2#header
			width 80px
			text-align center
			font-weight bold
			font-size 18px
			color #FFF
			line-height 100px

		&__button:hover
			width 80px
			height 5px
			background $purple

		&__button:active
			width 80px
			height 5px
			background $orange
