@media (min-width: 768px)

	.about
		width 768px

		&__container
			width 728px
			// margin 0 0 40px 0px
			// padding 10px 20px 10px 20px


		&__photo
			width 240px

		&__body
			width 668px

			h1
				font-size 27px

			p
				margin 0 0 12px 0
				font-size 22px
				line-height 30px

		&__friends
			width 768px
			// padding 20px 40px 20px 40px

		&__friendstitle
			width 768px

			h4
				line-height 24px
				font-size 24px

		&__friendholder
			width 150px
			height 150px

			h5
				font-size 32px
				width 150px
				height 150px
				line-height 150px

			h5:hover
				font-size 24px

			h6
				font-size 32px
				width 150px
				height 150px
				line-height 150px

			h6:hover
				font-size 16px
