@media (min-width: 768px)

	.contact
		width 768px
		padding 20px 0px 40px 0
		margin -19px 0px 0 0

		&__container
			width 768px
			padding 0px 0px 0px 0px

		&__form

			h1
				font-size 28px

			h6
				font-size 13px
				margin 0 190px 0 0

		&__imageholder
			float none
			position relative
			width 420px
			padding 0px 0 0 0
			margin 0 auto

			img
				width 420px
				margin 0 0 20px 0

		&__formbox
			width 667px
			margin 0px 0 0 0

		&__formgroup

			input
				width 520px
				height 30px
				padding 0 20px 0 10px
				margin 5px 0px 10px 0px

			textarea
				min-width 520px
				max-width 520px
				min-height 100px
				max-height 220px
				padding 10px 20px 0 10px

		&__panel
			width 667px
			float none
			position relative
			padding 20px 0px 20px 0px
			margin 20px auto


	button
		margin 10px 20px 0px 0px
