@media (min-width 768px)
	.home
		width 768px
		margin -10px 0 0 0

		&__section1
			align-self center
			height 400px
			h1
				margin 220px 0 0 0
				font-size calc(24px + 10vw)
			h2
				width 100%
				margin -160px 0 0 0
				line-height 120px
				font-smooth subpixel-antialiased
				span
					line-height 100px

		&__button--1
			button.hero
				width 330px
				height 50px
				margin -80px 0 0 0
				h2#hero
					font-size 28px
					line-height 38px
				img
					margin -188px -240px 0 0px

		&__section2
			height 335px
			display flex
			flex-direction column
			align-self center
			align-items center
			h3
				line-height 60px
			div.circle
				width 80px
				height 80px
				margin 40px 0 0 0px
