@media (min-width:768px)

	.search
		display flex
		width 708px
		padding 15px 20px 5px 20px
		margin 0px 0px 20px 10px
		background $darkgrey
		justify-content: space-evenly;
		align-content center
		p
			font-size 16px

		&__filter
			width 220px
			input#search
				width 210px
				height 40px
			img
				padding 13px 7px 10px 0
			&:focus-within
				input#search
					width 80%
					border-right: 3px solid #4444;
				img
					display block


		&__category
			width 220px
			height 40px
			select#category
				width 210px
				height 40px

		&__medium
			width 220px
			height 40px
			select#medium
				width 210px
				height 40px

	.projects
		margin 0 0 0 5px

	.project
		width 330px
		margin 0 10px 10px 0
		padding 20px

		&__img
			width 330px
			height 140px
