@media (min-width:768px)

	.view
		width 768px
		padding 10px 0 0 0
		margin -10px 0 0 0

		&__gallery
			width 768px
			height 400px

			&--left
				height 315px

			&--right
				height 315px

		&__image
			width 768px
			height 400px


		&__information
			width 748px
			margin 40px 0 52px 0

			&--title
				width 100%
				margin 0 0 20px 0
				h5
					font-size 32px

			&--content1
				width 600px

			&--quote
				width 600px

			&--content2
				width 600px

			&--testimonial
				width 578px
				padding 30px 10px

		&__card
			float right
			width 120px
			height 325px
			margin -140px 0 0 0
			// padding 20px 10px
			flex-direction column
			align-content space-evenly

			&--headshot
				img
					width 100px

			&--creator
				width 85px
				padding 5px 10px
				h4
					text-align center
					font-size 18px

			&--category
				width 85px
				padding 5px 10px
				h4
					text-align center
					font-size 18px

			&--medium
				width 85px
				padding 5px 10px
				h4
					text-align center
					font-size calc(85px / 5.66)
