@media (min-width: 480px)

	.about
		width 480px

		&__container
			width 440px

		&__photo
			width 110px

		&__body
			width 400px

		&__friends
			width 440px
			padding 0px 40px
			margin 0

		&__friendstitle
			width 440px
