@media (min-width: 480px)

	.contact
		width 480px
		padding 0
		margin -50px 0 0 0

		&__container
			width 410px
			padding 0px 0px 0px 70px
			margin 0 0 0px 0

		&__form
			padding 0px 45px 40px 50px
			h3
				font-size 16px

		&__imageholder
			width 480px

			img
				width 335px
				margin 60px 0 0 0

		&__formbox
			width 480px

			h1
				font-size 26px

			h6
				margin 10px 30px 10px 0

		&__formgroup
			input
				width 85%
				height 30px
				padding 0 20px 0 10px
				margin 5px 0px 10px 0px
			textarea
				min-width 85%
				max-width 85%
				min-height 80px
				max-height 220px
				padding 10px 20px 0 10px

		&__panel
			width 280px
			padding 20px 0px 20px 0px
