@media (min-width 480px)

	.home
		width 480px

		&__section1
			align-self center
			h2
				margin -40px 0 0 0
				line-height 80px
		&__button--1
			button.hero
				margin -60px 0 0 0
		&__section2
			align-self center
			div.circle
				align-self center
				margin 20px 0 0 120px
