@media (min-width:480px)

	.view
		width 480px

		&__gallery
			width 480px
			height 320px
			overflow hidden

			&--left
				height 315px

			&--image

			&--right
				height 315px



		&__information
			width 460px

			&--content1
				width 460px

			&--quote
				width 460px
				p
					font-size 20px
					margin 20px 0 0 0
					span.left
							float left
							margin -10px 0px 0 0
							font-size 40px

					span.right
						float right
						margin 10px 0 0 0
						font-size 40px
						line-height 40px
						
			&--content2
				width 460px

			&--testimonial
				width 440px

		&__card
			width 450px
			justify-content space-evenly

			&--creator
				padding 10px 20px
