@media (min-width:480px)

	.search
		width 480px
		p
			font-size 16px

		&__filter
			width 460px
			input#search
				width 430px
			img
				padding 7.5px 5px 7.5px 0


		&__category
			width 460px
			select#category
				width 455px

		&__medium
			width 460px
			select#medium
				width 455px


	.project
		width 420px
		padding 20px

		&__img
			width 420px
			height 140px
