@media (min-width: 375px)

	.about
		width 375px

		&__container
			width 335px
			margin 0 0 0px 0px
			padding 40px 20px 10px 20px

		&__photo
			width 185px

		&__body
			width 300px
			margin 20px 0px 20px 0px

			p
				font-size 17px
				line-height 18px

		&__friends
			padding 20px 40px 20px 40px

		&__friendstitle
			width 335px

			h4
				line-height 24px
				font-size 24px

		&__friendholder
			width 120px
			height 120px
			margin 10px 10px 0 0

			h5
				font-size 18px
				width 120px
				height 120px
				line-height 120px

			h5:hover
				font-size 10px

			h6
				font-size 18px
				width 120px
				height 120px
				line-height 120px

			h6:hover
				font-size 8px
