@media (min-width:375px)

	.search
		width 375px
		margin 10px 0 20px 10px

		p
			font-size 12px
			text-align center
			line-height 30px

		&__filter
			width 355px
			input#search
				width 325px
			img
				padding 7.5px 6px 7.5px 0


		&__category
			width 355px
			select#category
				width 350px

		&__medium
			width 355px
			select#medium
				width 350px

	.project
		width 315px
		margin 10px 0px 20px 0px

		p
			margin 0px 0px 0px 0px

		&__img
			width 100%
			margin 20px 0px

		&__title
			margin 0px 0px 10px 0px

		&__category
			margin 0px 0px 10px 0px
