@media (min-width:375px)

	.view
		width 375px

		&__gallery
			width 375px
			height 250px
			overflow hidden
			margin 0 0 0px 0

			&--left
				height 244px

			&--image
				// width 375px

			&--right
				height 244px


		&__information
			width 355px

			&--title
				margin 0 0 10px 0
				h5
					font-size 20px

			&--content1
				width 355px

			&--quote
				width 355px
				p
					span.left
						margin 0 5px 0 0

			&--content2
				width 355px

			&--testimonial
				width 335px

		&__card
			width 345px
			justify-content space-evenly

			&--creator
				padding 10px 20px
