.page
	.search
		.search__filter
			input#search(type='text', name='Search', placeholder='Search')
			img(src='/times-circle-regular.svg')
		.search__category
			select#category(name='category')
				option(value='' disabled selected hidden) Category
				option(value='1') {{projects[0].category}}
				option(value='2') {{projects[2].category}}
				//- option(value='3') Category 3
		.search__medium
			select#medium(name='medium')
				option(value='' disabled selected hidden) Medium
				option(value='1') {{projects[0].medium}}
				option(value='2') {{projects[2].medium}}
				//- option(value='3') Medium 3
	.projects
		.project(*ngFor='let project of projects', (click)='viewProject(project.clean)')
			.project__img
				img(src='/placeholder.jpg')
			.project__title
				h4 {{project.title}}
			.project__category
				h4 {{project.category}}
			.project__description
				p {{project.description}}
		//- these are only here to populate page
		.project(*ngFor='let project of projects', (click)='viewProject(project.clean)')
			.project__img
				img(src='/placeholder.jpg')
			.project__title
				h4 {{project.title}}
			.project__category
				h4 {{project.category}}
			.project__description
				p {{project.description}}
		.project(*ngFor='let project of projects', (click)='viewProject(project.clean)')
			.project__img
				img(src='/placeholder.jpg')
			.project__title
				h4 {{project.title}}
			.project__category
				h4 {{project.category}}
			.project__description
				p {{project.description}}
