.header
	.header__container
		.mobile-navigation((click)='openPanel()')
			div#mobilenav(routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}')
				a(routerlink='/', routerLinkActive='active') Home
				//- a(routerlink='/about', routerLinkActive='active') About
				//- a(routerlink='/projects', routerLinkActive='active') Projects
				//- a(routerlink='/contact', routerLinkActive='active') Contact
			fa-icon.header__bars([icon]='faBars')
				
		
		.header__logo
			h1#header Jai Garrovillo
			//- .toggleswitch
			//- 	input#toggle.checkbox(type='checkbox')
			//- 	label.switch(for='toggle')
		.navigation
			.navigation__button(class='button' routerLink='/contact', routerLinkActive='active')
				h2#header Contact
			.navigation__button(class='button' routerLink='/projects', routerLinkActive='active')
				h2#header Projects
			.navigation__button(class='button' routerLink='/about', routerLinkActive='active')
				h2#header About
			.navigation__button(class='button' routerLink='/', routerLinkActive='active')
				h2#header Home
.header__spacer
