@media (min-width: 667px)

	.about
		width 667px

		&__container
			width 627px

		&__photo
			width 150px

		&__body
			width 560px

		&__friends
			width 560px
			margin 0 0 0 40px
			padding 10px 0

		&__friendstitle
			width 627px

			h4
				text-align center
				margin 0 0px 0 0
				line-height 24px


		&__friendholder
			width 120px
			height 120px
			margin 20px 20px 0 0

			h5
				font-size 24px
				width 120px
				height 120px
				line-height 120px

			h5:hover
				font-size 18px

			h6
				font-size 24px
				width 120px
				height 120px
				line-height 120px

			h6:hover
				font-size 12px
