@media (min-width: 667px)

	.contact
		width 667px
		padding 20px 0

		&__container
			width 597px
			padding 0px 0px 0px 70px
			margin 0 0 0px 0

		&__form

			h3
				font-size 16px

		&__imageholder
			width 480px
			padding 50px 0 0 0

			img
				width 420px
				margin 0px 0 0 60px

		&__formbox
			width 667px
			margin 0px 0 0 0

		&__formgroup

			input
				width 520px
				height 30px
				padding 0 20px 0 10px
				margin 5px 0px 10px 0px

			textarea
				min-width 520px
				max-width 520px
				min-height 100px
				max-height 220px
				padding 10px 20px 0 10px

		&__panel
			width 280px
			padding 20px 0px 20px 0px

	button
		margin 10px 20px 0px 0px
