@media (min-width 667px)

	.home
		width 667px

		&__section1
			align-self center
			h2
				width 100%
				margin -40px 0 0 0
				line-height 120px
		&__button--1
			button.hero
				margin -60px 0 0 0
		&__section2
			align-self center
			h3
				line-height 60px
			div.circle
				align-self center
				margin 20px 0 0 160px
