@media (min-width:667px)

	.search
		width 667px
		p
			font-size 16px

		&__filter
			width 647px
			input#search
				width 617px
			img
				padding 7.5px 6px 7.5px 0


		&__category
			width 647px
			select#category
				width 642px

		&__medium
			width 647px
			select#medium
				width 642px
	
	.project
		width 607px
		padding 20px

		&__img
			width 607px
			height 140px
