@media (min-width:667px)

	.view
		width 667px

		&__gallery
			width 667px
			height 400px

			&--left
				height 315px

			&--right
				height 315px

		&__image
			width 667px
			height 400px


		&__information
			width 647px

			&--content1
				width 647px

			&--quote
				width 647px
				p
					text-align center
					font-size 24px
					margin 20px 0 0 0
					span.left
							float left
							margin -10px 0px 0 0
							font-size 50px

					span.right
						float right
						margin 10px 0 0 0
						font-size 50px
						line-height 40px


			&--content2
				width 647px

			&--testimonial
				width 627px

		&__card
			width 637px

			&--creator
				padding 10px 20px
